@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: $main-font;
  font-weight: $regular-weight;
  color: $main-text-color;
  font-size: 12px;
  line-height: 1.2;
}

.current {
  &::before {
    content: '';
    top: 15px;
    left: 0;
    position: absolute;
    background: $accent-color;
    display: block;
    height: 3px;
    width: 100%;
  }
}
