<header class="header header-library" id="home">
    <div class="container">
        <div class="row">
            <a href="./index.html" class="header-logo__link">
                <img src="./images/film.png" alt="logo" class="header-logo__icon" />
                <span class="header-logo__title">Filmoteka</span>
            </a>
            <nav class="header__nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item">
                        <a href="./index.html" class="header-nav__link">HOME</a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__link current my-library">MY LIBRARY</a>
                    </li>
                    <li class="header-nav__item">
                        <button class="header-nav__link login-button">LOGIN</button>
                    </li>
                </ul>
            </nav>
        </div>
        <ul class="header-library__list">
            <li class="header-library__item">
                <button class="header-library__btn active watched">WATCHED</button>
            </li>
            <li class="header-library__item">
                <button class="header-library__btn queue">QUEUE</button>
            </li>
        </ul>
        <div class="user-info">
            <div class="user-info__name"></div>
        </div>
    </div>
</header>